html, body, div, span, h3, h4, h5, h6, p, span, pre, strong, a{
	font-family: 'Roboto', sans-serif;
}

body{
	background: #EEF9BF;
}

.header{
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 56px;
	line-height: 66px;
	color: #75B79E;
	box-sizing: border-box;
	height: 200px;
}
.cards{
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	padding-left: 200px;
	padding-right: 200px;
	
}
.col{
	box-sizing: border-box;
	min-width: 200px;
	width: 15%;
	padding: 30px;
	perspective: 500px;
}

.card{
	height: 250px;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #99CEA8;
	border-radius: 5px;
	transition: transform 1s;
	transform-style: preserve-3d;
}
.card.flipped{
	transform: rotateY(180deg);
}
.card-front{
	position: absolute;
	background: #A7E9AF;
	background-image: url("../img/front.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
}
.card-back{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #77cc8f;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

/*usar flex-basis: 100% quando mobile*/